.Loading-wrapper {
  width:100%;
  height: 500px;
  border: 7px dashed;
  position: relative;
  border-color: #ecf0f1;
  text-align: center;
}

.Loading-indicator {
  position: absolute;
  margin: auto;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
}
