.Loading-wrapper {
  width:100%;
  min-height: 520px;
  border: 2px dashed;
  position: relative;
  border-color: #BDBDBD;
}

.Loading-indicator {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Loading-wrapper.centered {
  text-align: center;
  border: none;
}

.Loading-wrapper.centered .Loading-indicator {
  top: 30%
}


