{
  "presets" : ["es2015","react"],
  "plugins" : ["transform-object-rest-spread", "jsx-control-statements", "recharts"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
