/**** General Charts Component *****/



/****************************/

/**** Chart Canvas Component *****/
.ChartCanvasToggleTime{
  float: right;
}
.chartCanvasBlankCanvas{
  padding:20%;
  border: 7px dashed;
  border-color: #ecf0f1;
  color: #ecf0f1;
  font-size:275%;
}


/****************************/

/**** C3 Chart Component *****/
.c3 {
  width: 100%;
  height: 600px;
}

.c3 line, .c3 path {
    stroke: #d9d9d9;
}

.c3 .tick text {
    fill: #666666;
}

.c3 svg {
     line-height: 1.4;
    font-family: 'Lato', sans-serif;
}
.c3chart{
}
.c3ChartContainer{
}
/****************************/
/**** Chart Filters Component *****/
.chartOptionsTitle{
  font-size:120%;
  padding-left:2%;
}
.chartOptionsRow{
  padding-bottom:2%;
}


/****************************/

/**** Chart Buttons Component *****/
.chartButtons{
  font-size:120%;
  padding:3%;
  border-radius: 0.05 !important;
  border:0.001;
  margin:0.5%
}

.chartColumnButtons{
}
.chartColumnButtonsActive{
opacity: 1;
filter: alpha(opacity=100); /* For IE8 and earlier */
border: solid 3px;
border-color: #f2c407;
}
.chartColumnButtonsInActive{
  opacity: 0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */
}
.chartColumnButtonsInActive:hover {
    opacity:0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

/****************************/
