@import "toolkit";


.myNav .navbar-brand {
  height: 50px;
}

.myNav.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.myNav .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}



.navLogo{
  font-size:215%;
  font-family: 'Lato', sans-serif;
  padding-top:22%;
}


.navTotal{
  width:100%;
  padding-bottom:0.5%;
  margin-top:-1%;
  padding-left:2%;
  padding-right:2%;
}
.navLi {
  padding-top:2%;
  font-size:150%;
  padding-right:2%;
  font-family: 'Lato', sans-serif;
}
