

.paddz{
    margin-top:10%;
    margin-bottom:10%;
    padding-bottom:300px;
}

.shadow {
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}



.line {
    fill: none;
    stroke: #7dc7f4;
    stroke-width: 5px;

}

.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 14px;
}

.y-grid .tick{
    stroke: #bbc7d9;
    opacity: 1;
}

.default-svg{
}


.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.fontSize {
    font-size:.8em;
    height: auto;
    text-align: center;
}

.chartHeader{
    margin-bottom:100px;
}

