/**** Chart Type Component *****/
.chartTypeRadio{
  font-size:120%;
}

.chartTypeRadioTitle{
  padding-left:3%;
  padding-bottom:1.5%;
}
.chartTypeRadioGroup{
  padding-left:3%;
  padding-top:3%;
  padding-bottom:3%;
}
.chartTypeRadioLabel{
  padding-right:1%;
}
