@import 'toolkit';

.facet h3 {
	padding-bottom: 5px;
	border-bottom: 2px solid #eee;
}


.catalogMain{
   margin-right:1%;
   margin-left:1%;
}

h3.categories{
  font-size:200%;
}

.catalogMainFacets{
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
}

.catalogMainSearchBox{
  margin-top:3%;
}

.facetCategories{
font-size:125%;
}

.panelItem{
  font-size:115;
}
