.filter .close {
	position: relative;
	top: -2px;
	right: -21px;
}

.filter .filter-content {
	padding-right: 20px;
}

.filter {
	margin-top: 20px;
}

.filter h4 {
	font-size: 1em;
	padding-bottom: 2px;
	border-bottom: #b6b6b6 2px solid;
}